
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>profile</title>
    @Styles.Render("~/myCss")
    <link href="~/Content/dashboard.css" rel="stylesheet" />
</head>
<body>
    <div class="main-content">
        <aside class="user">
            <a class="" id="t1" href="#">Test 1</a>
            <a class="" id="t2" href="#">Test 2</a>
        </aside>
        <section class="test1 general">
            <div class="_3btns">
                <a href="#" class="btn btn-default col-lg-4" id="i_Search"><span class="glyphicon glyphicon-search"></span> <br>Search</a>
                <a href="#" class="btn btn-danger col-lg-4" id="i_invoice"><span class="glyphicon glyphicon-list"></span> <br>Invoice</a>
                <a href="#" class="btn btn-info col-lg-4" id="i_Reports"><span class="glyphicon glyphicon-picture"></span> <br>Reports</a>
            </div>
            <div class="clear"></div>
            <div class="invoice">
                <div class="i_Search">
                    <h1>Search</h1>
                </div>
                <div class="i_invoice">
                    <h1>invoice</h1>
                </div>
                <div class="i_Reports">
                    <h1>Reports</h1>
                </div>
            </div>
        </section>
        <section class="test2 general">
            <div class="_3btns">
                <a href="#" class="btn btn-default col-lg-4" id="u_Search"><span class="glyphicon glyphicon-search"></span> <br>Search</a>
                <a href="#" class="btn btn-danger col-lg-4" id="u_invoice"><span class="glyphicon glyphicon-list"></span> <br>Users</a>
                <a href="#" class="btn btn-info col-lg-4" id="u_Reports"><span class="glyphicon glyphicon-picture"></span> <br>Reports</a>
            </div>
            <div class="clear"></div>
            <div class="invoice">
                <div class="u_Search">
                    <h1> Users</h1>
                </div>
                <div class="u_invoice">
                    <h1>User</h1>
                </div>
                <div class="u_Reports">
                    <h1>Reports</h1>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/jScript/myjs2")
    <script>
        $(document).ready(function () {
            // main-tabs 
            $("#t1").click(function () {
                $(".test2").fadeOut(1000);
                $(".test1").fadeIn(1000);
            });
            $("#t2").click(function () {
                $(".test1").fadeOut(1000);
                $(".test2").fadeIn(1000);
            });
            //invoice
            $("#i_Search").click(function () {
                $(".i_Search").fadeIn();
                $(".i_invoice").fadeOut();
                $(".i_Reports").fadeOut();
            });
            $("#i_invoice").click(function () {
                $(".i_Search").fadeOut();
                $(".i_invoice").fadeIn();
                $(".i_Reports").fadeOut();
            });
            $("#i_Reports").click(function () {
                $(".i_Search").fadeOut();
                $(".i_invoice").fadeOut();
                $(".i_Reports").fadeIn();
            });
            //users
            $("#u_Search").click(function () {
                $(".u_invoice").fadeOut();
                $(".u_Reports").fadeOut();
                $(".u_Search").fadeIn();
            });
            $("#u_invoice").click(function () {
                $(".u_Reports").fadeOut();
                $(".u_Search").fadeOut();
                $(".u_invoice").fadeIn();
            });
            $("#u_Reports").click(function () {
                $(".u_Search").fadeOut();
                $(".u_invoice").fadeOut();
                $(".u_Reports").fadeIn();
            });
        });
    </script>
</body>
</html>
